* {
	root * /app/front
	encode gzip
	try_files {path} /index.html
	file_server

	# Proxy vers le backend Spring Boot pour toutes les routes API
	handle /organizations* {
		reverse_proxy localhost:8080
	}

	handle /persons* {
		reverse_proxy localhost:8080
	}
}
